@model IEnumerable<JournalMVC.DTO.ActivityDTO>

@{
    ViewData["Title"] = "Index";
    var selectedDate = ViewBag.SelectedDate ?? DateTime.Now;
}

<h1>Занятия</h1>

<p>
    <a asp-action="Create" asp-route-date="@selectedDate.ToString("yyyy-MM-ddTHH:mm:ss")">Создать занятие</a>
</p>

<p>
    <input type="date" id="activityDate" value="@selectedDate.ToString("yyyy-MM-dd")" />
    <button type="button" id="filterButton">Выбрать дату</button>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Описание
            </th>
            <th>
                Тип
            </th>
            <th>
                Временной интервал
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="activityTableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeInterval.Interval)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        document.getElementById("filterButton").addEventListener("click", function () {
            var selectedDate = document.getElementById("activityDate").value;
            if (selectedDate) {
                window.location.href = '@Url.Action("Index", "Activities")?date=' + selectedDate;
            }
        });
    </script>
}
